flask
flask-cors
flask_mysqldb
unstructured
Pillow
IPython
PyMuPDF
language_tool_python
chromadb
chroma-migrate
Cython
tiktoken
langchain
langchain_community
huggingface_hub
sentence_transformers
faiss-cpu
pytesseract
pdfminer.six
pi_heif
nltk
unstructured[local-inference]
transformers